body{
    height:100vh;
    margin:0;
    font-family:'Montserrat',sans-serif;
    background:#07dada;
}
h1,h2{
    font-weight:bold; 
}
p{
    font-size:1.1em;
    margin-top:20px;
}
span{
    font-size:1.5em;
    font-weight: bold;
}
input{
    width:450px;
    background:#ffffff;
    border:1px solid black;
    border-radius:5px;
    text-align:center;
}
.btn1,.btn2{
    margin:15px 10px;
    padding:auto 10px;
}
.btn3:hover{
    font-size:1.05em;
    font-weight:bold;
}